{% extends 'base.html' %}

{% block title %}{{ product.title }}{% endblock%}


{% block content %}

<div class="card">

 <div class="row">
     <div class="col-12 col-md-6">
         <img
         class="card-img-top img-thumbnail img-fluid rounded mx-auto d-block mt-2"
         src="/images/{{ product.image }}" alt="">
     </div>
     <div class="col-12 col-md-6">
         <div class="card">
             <div class="card-header">
                 <h1 class="text-center">
                    {{ product.title }}

                 </h1>
                 
             </div>
             <div class="card-body">
                <p>
                    {{ product.description }}
                </p>
             </div>
             <div class="card-footer text-center m-0">

                <strong> selling price :  ${{ product.price }}</strong>

                
              </div>
              <div class="card-footer text-center m-0">

                <a class="text-muted" href="{% url 'view_category' product.category.slug %}">{{ product.category }}</a>

                
              </div>
              


              <br>

              <!-- Grid column isquierda-->
          <div id="Contac" class="m-4 col  mx-auto mb-4 text-center">
            <!-- Links -->


            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>       
            
            <!-- inconos -->
            <div class="row">              
              <div class="col">
                <a target="_blank" class="text-reset" href="https://www.instagram.com/ricardo_vzart/">
                  <p>
                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                     
                  </p>
                </a>
              </div>
              <div class="col">
                <a target="_blank" class="text-reset" href="https://www.facebook.com/racavzla">
                  <p>
                    <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                     
                  </p>
                </a>
              </div>
              <div class="col">
                <a target="_blank" class="text-reset" href="https://mintable.app/u/racavzla">
                  <p>
                    <i class="fa fa-comments fa-3x" aria-hidden="true"></i>
                     
                  </p>
                </a>

               
              </div>
            <!-- inconos -->
            
            <p><i class="fa fa-phone me-3"></i>+58 04141682493</p>
            <p><i class="fa fa-phone me-3"></i>+58 04266335852</p>
            </div>
            
          </div>


         </div>
     </div>
 </div>

</div>





{% endblock %}






